<link rel="stylesheet" href="/static/style_navigate_bar.css">

<!-- ✅ Reusable Top Navbar -->
<nav class="topnav">
    <a href="/">Home</a>
    <a href="/#about">About</a>
    <a href="/#projects">Projects</a>
    <a href="/#certificates">Certificates</a>
    <a href="/#activities">Activities</a>
    <a href="https://github.com/DarioDang" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/dario-dang-89049020a/" target="_blank">LinkedIn</a>
    <a href="/static/files/Dario_CV.pdf" download>MyCV</a>
</nav>